  <div class="layout" style="background:url('/assets/sad.jpg');  background-size:100% auto; min-height: 600px; background-position: center;
  background-repeat: no-repeat;" >
    <div class="py-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
    
          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">LogIn</h3>
            </div>
            <div class="card-body">
              <form class="form" #loginform = "ngForm">
                <div class="form-group">
                  <label><strong>Email</strong></label>
                  <input type="text" [(ngModel)]="loginUserData.email" id ="email" name="email" class="form-control"  required minlength = 5 maxlength = 32  pattern="[a-zA-Z0-9]+(@)[a-zA-z]+(.)(com|co.in|in|org)" #email = "ngModel">
                  <div *ngIf = "email?.errors && (email?.dirty || email?.touched)" class = "alert alert-danger">
                    <div [hidden]= "!email?.errors.valid">
                      enter valid email
                  </div>
                    <div [hidden]= "!email?.errors.required">
                        must be required
                    </div>
                    <div [hidden]= "!email?.errors.minlength">
                          email must be atleast 5 characters long.
                    </div>
                    <div [hidden]= "!email?.errors.maxlength">
                          email cannot be morethan 32 characters long.
                    </div>
                  </div>
              </div>
                <div class="form-group">
                  <label><strong>Password</strong></label>
                  <input type="password" id ="password"[(ngModel)]="loginUserData.password" name="password" class="form-control"  required minlength = 4  maxlength = 8 #password = "ngModel">
                  <div *ngIf = "password?.errors && (password?.dirty || password?.touched)" class = "alert alert-danger">
                    <div [hidden]= "!password?.errors.required">
                        password is required
                    </div>
                    <div [hidden]= "!password?.errors.minlength">
                          password must be atleast 4 characters long.
                    </div>
                    <div [hidden]= "!password?.errors.maxlength">
                          password cannot be morethan 8 characters long.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <a routerLink="/forgotpassword"><span>Forgot Password?</span></a>
                </div> 
                <button type="button"  [disabled]= "!loginform.valid" (click)="loginUser()"  class="btn btn-success float-right">LogIn</button>
              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
    
        </div>
    
    
      </div>
    </div>
    </div>
