.navbar-custom{
	position:absolute;
	top:0;
	width:100%;
	height: 10%;
}

.navbar a{
	color:white;
	font-weight:bold;
	font-size:18px;

	
}
.navbar li a:hover{
	background-color:orange;
	color:white;
	cursor:pointer
}