


<div class="layout" style="background:url('/assets/sad.jpg');  background-size:100% auto; min-height: 600px; background-position: center;
background-repeat: no-repeat;" >
  <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Password Reset</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label><strong>Email</strong></label>
                <input type="text" [(ngModel)]="email"  name="email" class="form-control" 
                 required minlength = 5 maxlength = 32 
                  pattern="[a-zA-Z0-9]+(@)[a-zA-z]+(.)(com|co.in|in|org)">
               
            </div>
  
            <button type="button" class="btn btn-success float-right" (click)="submitted()">Submit</button>
            </form>
          </div>
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>
  </div>