<div class="row mt-5">
  <!-- <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
        <a href="#" class="btn btn-success">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
        {{event.date | date:'shortDate'}}
      </div>
    </div>
  </div>
</div>  -->


<div class="col-md-3">
    <div class="col-md-12  single-item noPadding">
    <div class="top"><img src="assets/rocks.jpg"></div>  
      <div class="bottom">
      <h3 class="item-title"><a href="#">Template</a></h3>
      <div class="pull-right cutted-price text-muted"></div>
      <div class="clearfix"></div>
      <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
      ">Choose Template</span> --> 
       <a class="t_choose pull-right" id="temp1" (click)="aclicked1()" >Choose</a>
      </div>
    </div>
  </div> 

  <div class="col-md-3">
      <div class="col-md-12  single-item noPadding">
      <div class="top"><img src="assets/paris.jpg"></div>  
        <div class="bottom">
        <h3 class="item-title"><a href="#"> Template</a></h3>
        <div class="pull-right cutted-price text-muted"></div>
        <div class="clearfix"></div>
        <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
        ">Choose Template</span> --> 
         <a class="t_choose pull-right" id="temp2" (click)="aclicked2()" >Choose</a>
        </div>
      </div>
    </div> 

    <!-- <div class="col-md-3">
        <div class="col-md-12  single-item noPadding">
        <div class="top"><img src="assets/mist.jpg"></div>  
          <div class="bottom">
          <h3 class="item-title"><a href="#"> Template</a></h3>
          <div class="pull-right cutted-price text-muted"></div>
          <div class="clearfix"></div> -->
          <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
          ">Choose Template</span> --> 
           <!-- <a class="t_choose pull-right" id="temp3" (click)="aclicked3()" >Choose</a>
          </div>
        </div>
      </div>  -->

      <!-- <div class="col-md-3">
          <div class="col-md-12  single-item noPadding">
          <div class="top"><img src="assets/img-2.jpg"></div>  
            <div class="bottom">
            <h3 class="item-title"><a href="#"> Template</a></h3>
            <div class="pull-right cutted-price text-muted"></div> -->
            <!-- <div class="clearfix"></div> -->
            <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
            ">Choose Template</span> --> 
             <!-- <a class="t_choose pull-right" id="temp4" (click)="aclicked4()" >Choose</a>
            </div>
          </div>
        </div>  -->

        <!-- <div class="col-md-3">
            <div class="col-md-12  single-item noPadding">
            <div class="top"><img src="assets/sad.jpg"></div>  
              <div class="bottom">
              <h3 class="item-title"><a href="#">Template</a></h3>
              <div class="pull-right cutted-price text-muted"></div>
              <div class="clearfix"></div> -->
              <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
              ">Choose Template</span> --> 
               <!-- <a class="t_choose pull-right" id="temp5" (click)="aclicked5()" >Choose</a>
              </div>
            </div>
          </div>  -->

          <!-- <div class="col-md-3">
              <div class="col-md-12  single-item noPadding">
              <div class="top"><img src="assets/abc.jpg"></div>  
                <div class="bottom">
                <h3 class="item-title"><a href="#"> Template</a></h3>
                <div class="pull-right cutted-price text-muted"></div> -->
                <!-- <div class="clearfix"></div> -->
                <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
                ">Choose Template</span> --> 
                 <!-- <a class="t_choose pull-right" id="temp6" (click)="aclicked6()" >Choose</a>
                </div>
              </div>
            </div>  -->

            <!-- <div class="col-md-3">
                <div class="col-md-12  single-item noPadding">
                <div class="top"><img src="assets/sad.jpg"></div>  
                  <div class="bottom"> 
                  <h3 class="item-title"><a href="#">Template</a></h3>
                  <div class="pull-right cutted-price text-muted"></div>
                  <div class="clearfix"></div> -->
                  <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
                  ">Choose Template</span> --> 
                   <!-- <a class="t_choose pull-right" id="temp2" (click)="aclicked2()" >Choose</a>
                  </div>
                </div>
              </div>  -->
              <!-- <div class="col-md-3">
                  <div class="col-md-12  single-item noPadding">
                  <div class="top"><img src="assets/mist.jpg"></div>  
                    <div class="bottom">
                    <h3 class="item-title"><a href="#">Template</a></h3>
                    <div class="pull-right cutted-price text-muted"></div>
                    <div class="clearfix"></div> -->
                    <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
                    ">Choose Template</span> --> 
                     <!-- <a class="t_choose pull-right" id="temp2" (click)="aclicked2()" >Choose</a>
                    </div>
                  </div>
                </div>  -->


