<nav class="navbar navbar-custom navbar-fixed-top" style="background:#2b2929;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand" style="font-size:30px" id="header-top"><i class="fa fa-cog fa-spin fa-fw"></i>
        <span class="sr-only">Loading...</span>Edit It
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right" >
      <li><a  href="#" >Home</a></li>
      <li><a  class="jumper" href="#" >About Us</a></li>
      <li><a class="jumper" href="#" >Contact Us</a></li>
    </ul>
    
  </div>
</nav>
<div class="container">
<header class="jumbotron my-4 me" style="background-image:url(assets/img2.jpg)">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">Choose Template</p>
  <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
</header>

<div class="row">
  <div class="col-md-3">
    <div class="col-md-12  single-item noPadding">
    <div class="top"><img src="assets/img1.jpg"></div>
      <div class="bottom">
      <h3 class="item-title"><a href="#">Default Theme</a></h3>
      <div class="pull-right cutted-price text-muted"></div>
      <div class="clearfix"></div>
      <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
      ">Choose Template</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="col-md-12  single-item noPadding">
      <div class="top"><img src="assets/img3.jpg"></div>
        <div class="bottom">
        <h3 class="item-title"><a href="#"> Theme</a></h3>
        <div class="pull-right cutted-price text-muted"></div>
        <div class="clearfix"></div>
        <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
        ">Choose Template</span>
        </div>
      </div>
    </div>
</div>
</div>
