.container{
	margin-top:50px;
}
.single-item {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 320px;
	border: solid 1px silver;
	box-shadow: 0 0 5px gray;
	
}
.noPadding {
	padding: 0;
}
.top {
	background: maroon;
	height: 200px;
	}
	.top img {
		height: 100%;
		width: 100%;
	}
.bottom{
	height: 100px;
	
}

.item-title {
	color: maroon;
	margin-top: 0;
	margin-left: 10px;
	padding-top: 10px;
}
.cutted-price {
	
	font-size: 20px;
	margin-right: 10px;
}
.discounted-price {
	font-size:10px;
	margin-right: 10px;
	font-style: italic;
}

