<div>
  <section class="header">
    <h1 style="font-family:Tw Cen MT;"> WELCOME TO OUR APPBUILDER </h1>
    <h4 >Create Your Wonderful Template Here</h4>
    <div class="text-center ">
     <button class="btn btn-success btn-lg" routerLink="/signup" style="padding:15px">Get Started</button> 
  </div>
  
  </section>
  <div class="container">
  <div class="row">
  <div class="col-md-3">
    <div class="col-md-12  single-item noPadding">
    <div class="top"><img src="assets/img1.jpg"></div>
      <div class="bottom">
      <h3 class="item-title"><a href="#">Default Theme</a></h3>
      <div class="pull-right cutted-price text-muted"></div>
      <div class="clearfix"></div>
      <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
      ">Choose Template</span> -->
      <a  class="t_choose pull-right" id="temp1"  routerLink="/signup">Choose</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <div class="col-md-12  single-item noPadding">
      <div class="top"><img src="assets/img3.jpg"></div>  
        <div class="bottom">
        <h3 class="item-title"><a href="#"> Theme</a></h3>
        <div class="pull-right cutted-price text-muted"></div>
        <div class="clearfix"></div>
        <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
        ">Choose Template</span> -->
         <a class="t_choose pull-right" id="temp2" routerLink = "/signup" >Choose</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12  single-item noPadding">
      <div class="top"><img src="assets/img3.jpg"></div>  
        <div class="bottom">
        <h3 class="item-title"><a href="#"> Theme</a></h3>
        <div class="pull-right cutted-price text-muted"></div>
        <div class="clearfix"></div>
        <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
        ">Choose Template</span> -->
        <a  class="t_choose pull-right" id="temp1"  routerLink="/signup">Choose</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="col-md-12  single-item noPadding">
      <div class="top"><img src="assets/img-2.jpg"></div>  
        <div class="bottom">
        <h3 class="item-title"><a href="#"> Theme</a></h3>
        <div class="pull-right cutted-price text-muted"></div>
        <div class="clearfix"></div>
        <!-- <span class=" pull-right badge badge-pill badge-primary discounted-price" style="background-color: #0099ff
        ">Choose Template</span> -->
        <a  class="t_choose pull-right" id="temp1"  routerLink="/signup">Choose</a>
        </div>
      </div>
    </div>
    
  </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
  
        <h1>Get a website created for you instantly</h1>
        <p>Learn how to use Froala WYSIWYG HTML Editor starting with the quick start guide and API basics and going all the way to more complexe how to guides and examples.</p>
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Know more about it</button>
          <div id="demo" class="collapse">
              A WYSIWYG HTML editor created by developers, for developers. With a powerful API and documentation you can get started in minutes.
              You can literally do anything with the Froala Editor. Well written, structured and documented code is very easy to understand and further extend.
          </div>
      </div>
    </div> 
  
  
    
    
