.ng-valid[required], .ng-valid.required {
    border-left:5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}


.form{
    background-repeat: no-repeat;  
    padding: 25px; 
}
.form_p{
    display:inline-table;
}
    

