<br><br><div class="bgimg">
  <!--For Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"  [froalaEditor]='options' [(froalaModel)]="header.navheader"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="active" *ngFor="let navlist of header.navlists; let i=index;">
          <a  [froalaEditor]='options' [(froalaModel)]="header.navlists[i].navlist"></a>
         </li>
        
      </ul>
      <a (click)="addnavlist()"  style="margin-top:50px;position:right" >
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </nav>
  </div>
  <button class="btn btn-primary" (click)='changes()'>Save</button>

  <div class="container text-center text-danger headerset" [ngStyle]="{'background-color':body.bgColor}" >
      <h2>Welcome To Our Template </h2>
      <h1>Edit Here</h1>
      <button type="button" class="btn btn-info btn-lg text-white" data-toggle="modal" data-target="#myModal">Change Color</button>
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Style</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
              <label for="">Enter Color</label>
              <input type="color" [(ngModel)]="body.bgColor">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
      
        </div>
      </div>
    </div>
<br>

<!--Services Part-->
<section class="container ourservices text-center">
  <h1  [froalaEditor]='options' [(froalaModel)]="body.bodyAboutTitle" ></h1>
  <p  [froalaEditor]='options' [(froalaModel)]="body.bodyAboutContent"></p>
 <div class="row-setting">

      <div class="col-lg-4 col-md-4 col-sm-4 col-10 d-block m-auto"  *ngFor="let navlist of body.bodysections; let i=index;">
          <div class="imgsetting d-block m-auto bg-warning"><i class="fa fa-shopping-cart fa-jx text-white" style="font-size: 
            50px"></i></div>
           <li   >
          <h2  [froalaEditor]='options' [(froalaModel)]="body.bodysections[i].title" ></h2>
          <p  [froalaEditor]='options'  [(froalaModel)]="body.bodysections[i].description">Lorem ipsum dolor sit asmet,consectetur adipisicing elit.minima maxime quam architecto quo inventor harum ex magni,dicta imedit.</p>
         </li>
         
        </div>
     
       <a (click)="addbodypages()">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>  
</section>

<!--Footer Section-->
<section>
<div class="footer">
    <div class="container">
            <div class="jumbotron">
              <h1  [froalaEditor]='options' [(froalaModel)]="body.footerTitle" ></h1>      
              <p  [froalaEditor]='options'>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
            <!-- </div>
            <p  [froalaEditor]='options'>This is some text.</p>      
            <p  [froalaEditor]='options'>This is another text.</p>      
          </div> -->

     </div>
 </div>
</div>
