<section class="block-border">
  <hr class="line">
  <div class="create-block-button" (click)="openedit()">
    <div class="icon icon-plus "><i class="fa fa-plus" style="color:black" aria-hidden="true"></i></div>
  </div>
</section>
<section class="project-block sidebar-adjust  Browser block-browser" *ngIf="visible">
    <button type="button" class="close" *ngIf="!visible">&times;</button>
    <div class="row main-row">
        <h4 style="margin-left:45%;font-size:18px">Click here to select</h4>
        <div class="large-8 columns large-centered browser-wrapper">
            <div class="cancel">
              <span class="icon icon-thin-close"></span>
            </div>
            <div class="browser">
              <section class="modes">
                <div class="mode new-blocks active">
                  <div class="icon icon-plus">
                      <div class="text">
                        <span class="active-name">Create</span>
                        <span class="extra">New Content</span>
                      </div>
                  </div>
                </div>
              </section>
              <section class="new">
                <div class="block-type block-type-text" (click)="addComponent(textcomponentclass)">
                  <div class="icon">
                    <img src="" alt="">
                  </div>
                  <span class="label">Text</span>
                </div>
                <div class="block-type block-type-text" (click)="addComponent(formcomponentclass)">
                    <div class="icon">
                      <img src="" alt="">
                    </div>
                    <span class="label">Form</span>
                  </div>
                  <div class="block-type block-type-text" (click)="addComponent(videocomponentclass)">
                    <div class="icon">
                      <img src="" alt="">
                    </div>
                    <span class="label">Video</span>
                  </div>
                  
              </section>
            </div>
        </div>
    </div>  

</section>
<!--nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->
<!-- <button (click)="addComponent(formcomponentclass)">Add Form</button> -->
<!-- <button (click)="removeComponent(formcomponentclass)">Remove Form</button> -->
<!-- <button (click)="addComponent(textcomponentclass)">Add Text</button> -->
<!-- <button (click)="removeComponent(textcomponentclass)">Remove Text</button> -->

<div>
  <!-- Use ng-template to ensure that the generated components end up in the right place -->
  <ng-template #container>

  </ng-template>
</div>
