*{
    box-sizing: border-box;
}
.project-block{
    margin-bottom: 0;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(129, 162, 178, 0.2), 0 -1px 0 0 rgba(129, 162, 178, 0.2);
    overflow:hidden;
    


}
.project-block.block-browser{
    background: #f8f8f8;
    padding:10% 0;

    position:0 50% 0 50%;



}
.main-row{
    margin: 0 auto;
    max-width:1140px;
    width:100%;
}
.column.large-centered, .columns.large-centered
{
    margin-left: auto;
    margin-right: auto;
    float:none!important;
}
.large-8{
    width:66.66667%;
}
.column, .columns{
    padding-left: .9375em;
    padding-right: .9375em;
}
.cancel .icon{
    font-size:27px;
    transform: scale(.8);
    display:block;
}
.project-block.block-browser .browser-wrapper .browser
{
    border:1px solid #e9e9e9;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:0;
    overflow:hidden;
}
div,span,img{
    margin: 0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align: baseline;

}
div{
    display: block;
}
.project-block.block-browser .browser-wrapper .modes
{
    display: flex;
    border-bottom: 1px solid #f2f2f2;
}
section{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align: baseline;
}
.mode.active{
    background: #f2f2f2;
}
.mode:first-child{
    border-right:1px solid #ededed; 
}
.project-block.block-browser .browser-wrapper .modes .mode{
    -webkit-box-flex:1;
    flex:1;
    padding:30px;
    font-size: 15px;
    letter-spacing: .05em;
    display:flex;
    -webkit-box-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    align-items: center;
    color:#4d4d4d;
    transition: all .3s ease;
    cursor: pointer;
}
.project-block.block-browser .browser-wrapper .modes .mode.active .icon{
    transform: scale(1);
    color:#404040;

}
.project-block.block-browser .browser-wrapper .modes .mode .icon{
    margin-right:15px;
    font-size:30px;
    transition: all .3s ease;  
}
[class*=" icon-"]{
    font-style:normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing:antialiased;

}
.project-block.block-browser .browser-wrapper .modes .mode.active .text
{
    transform: translateX(3px);
    color:gray;
}
.project-block.block-browser .browser-wrapper .modes .mode .text
{
    transition: all .3s ease;
    text-transform: uppercase;
    font-family: proxima-nova,sans-serif;
}
.project-block.block-browser .browser-wrapper .modes .mode.active .text .action-name
{
    color:#404040;

}
.project-block.block-browser .browser-wrapper .modes .mode .text .action-name
{
    transition: all .3s ease;
    font-weight: 700;
}
span{
    user-select:text;
}
.project-block.block-browser .browser-wrapper .new{
    background: #fff;
    display: flex;
}
.project-block.block-browser .browser-wrapper .new .block-type:not(:last-child)
{
    border-right: 1px solid #f7f7f7;
}
.project-block.block-browser .browser-wrapper .new .block-type
{
    padding:10px;
    -webkit-box-flex:1;
    flex:1;
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    flex-direction:column;
    -webkit-box-pack:center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
img{
    display:inline-block;
    max-width: 100%;
    height:auto;
}
.project-block.block-browser .browser-wrapper .new .block-type .label
{
    padding:10px 0;
    opacity: .7;
    color:black;
    font-size:13px;
    text-transform: uppercase;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
}
.block-border {
    position: relative;
    height: 0;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 9;
    outline:none;
  }
  .block-border .line {
    z-index: 3;
    width: 100%;
    height: 20px;
    border: 0;
    background: rgba(51,175,255,.55);
    cursor: pointer;
    left: 0;
    top: -10px;
    margin: 0;
    padding: 0;
    opacity: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.05);
  }
  .block-border .line {
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    position: absolute;
  }
  hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }
  .block-border .create-block-button {
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 4;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    font-size: 90%;
    color: #b3b3b3;
    border: 1px solid #d9d9d9;
    background: hsla(0,0%,100%,.7);
    cursor: pointer;
  }
  .block-border .create-block-button, .block-border .line {
      transition: all .15s ease;
      position: absolute;
  }
  .close{
      margin-right:10%;
     
  }