body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: brown;
    }
    
#main-header container{
        margin: auto;
    }
#main-header  h1{
    margin: 0;
    padding-top:  100px;
    padding-right: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

#main-header  h3{
    font-family: 'Times New Roman', Times, serif; 
}

span{
    color: cornflowerblue;
}


#showcase form{
    padding-top: 20px;
padding-left:80px;
}

#showcase form p{
    margin: 0;
    padding:0;
    font-weight: bold;
}

#showcase form input{
    width: 80%;
    margin-bottom: 20px;
}



#showcase form input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid grey;
    background:transparent;
    outline: none;
    height: 40px;
    color:#fff;
    font-size: 16px;
}
#showcase form input[type="submit"]
{
    border: none;
    outline:none;
    height:40px;
    width: 50%;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
#showcase form input login{
    background-color: #fff;
    color: #1c8adb;
}
#showcase form input login:hover{
    background-color: #1c8adb;
    color: #fff;
}
 .vl{
    border-left: 2px solid rgb(163, 158, 158);
    height: 300px;
    /* position: absolute; */
    left: 50%;
    /* margin-left: -3px; */
    padding-right: 40px;
    padding-top: 20px;
  margin-top: 20px;
}

.fa{
    padding:30px;
    font-size:50px;
    width:50px;
    text-align:center;
    text-decoration:none;
    margin: 5px 2px;
}
.fa:hover{
    opacity: 0.7;
    }
  
    .fa-facebook{
        
        background: #3b5998;
        color: white;
    }
    .fa-twitter{
        background: #00aced;
        color: white;
    }
    .fa-google{
        background: #d34836;
        color: white;
    }
    .fa-linkedin{
        background: #0077B5;
        color: white;
    }
    .fa-youtube{
        background: #ff0000;
        color: white;
    }
    .fa-instagram{
        background: #e95950;
        color: white;
    }

    #main-footer{
        padding-top: 50px;
        
        margin: auto;
    }
    #main-footer p{
        color: darkslategray;
            padding-left: 450px;
    }
