<section >
    <form>
        <h2 [froalaEditor]='options.options'>Fill the Form</h2><hr>
        <table>
          <tr>
            <td [froalaEditor]='options.options'><label for="user">User Name</label></td>
            <td><input type="text" name="user" id="user"></td>
          </tr> <br>
          <tr>
            <td [froalaEditor]='options.options'><label for="pass">Email</label></td>
            <td><input type="email" name="pass" id="pass"></td>
          </tr><br>
          <tr>
            <td [froalaEditor]='options.options'><label for="num">Phone Number</label></td>
            <td><input type="number" name="num" id="num"></td>
          </tr><br>
          <tr [froalaEditor]='options.options'>
            <td></td>
            
            <td style="margin:20%">
            
             <button [froalaEditor]='options.options' class='btn btn-primary'>Submit</button>
            </td>
          </tr>
        </table>
      </form>
</section>