<section >
    <button (click)="print()">Print the form</button>
    <form>
    
        <h2 [froalaEditor]='options' [(froalaModel)]="body.forms[0].Fhead"></h2><hr>
        <table>
          <tr>
            <td [froalaEditor]='options' [(froalaModel)]="body.forms[0].username"><label for="user"></label></td>
            <td><input type="text" name="user" id="user"></td>
          </tr> <br>
          <tr>
            <td [froalaEditor]='options' [(froalaModel)]="body.forms[0].email"><label for="pass"></label></td>
            <td><input type="email" name="pass" id="pass"></td>
          </tr><br>
          <tr>
            <td [froalaEditor]='options' [(froalaModel)]="body.forms[0].phonenumber"><label for="num"></label></td>
            <td><input type="number" name="num" id="num"></td>
          </tr><br>
          
            <td></td>
            
            <td style="margin:20%">
          
             <button [froalaEditor]='options' [(froalaModel)]="body.forms[0].submit" class='btn btn-primary'></button>
            </td>
        
        </table>
      </form>
</section>